* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* BODY */

body {
  background-color: gainsboro;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 100px;
  display: flex;
  flex-direction: column;
}

.btn-container {
  margin: 0 auto;
  padding: 100px;
}

.btn {
  padding: 12px 24px;
  border-radius: 16px;
  font-size: 24px;
  background-color: black;
  color: white;
}

.library {
  display: flex;
  width: 600px;
  flex-wrap: wrap;
  gap: 12px;
}

.book-container {
  border: solid black 2px;
  width: 200px;
  height: 250px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: white;
}

p{
  overflow-wrap: anywhere;
}

.delete-btn {
  padding: 6px 12px;
  border-radius: 16px;
  font-size: 24px;
  background-color: black;
  color: white;
}

/* DIALOG */

dialog[open] {
  opacity: 1;
  /* z-index: 1; */
}
dialog {
  opacity: 0;
  /* z-index: -; */
  width: 400px;
  height: 400px;
  margin: auto;
  border-radius: 12px;
  background-color: gainsboro;
}

.form {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
  padding: 6px;
  margin-top: 16px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 24px;
  font-weight: bold;
}

input {
  padding: 12px;
  border-radius: 12px;
  border: black solid;
}

.dialog-btns {
  display: flex;
  margin-top: 12px;
  gap: 8px;
  justify-content: center;
}

.read-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

#read {
  display: flex;
  align-items: flex-end;
  height: 20px;
  width: 20px;
}
