* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 100px;
  display: flex;
  flex-direction: column;
}

.btn-container {
  margin: 0 auto;
  padding: 100px;
}

.btn {
  padding: 12px 24px;
  border-radius: 16px;
  font-size: 24px;
  background-color: black;
  color: white;
}

.book-container {
  border: solid black 2px;
  width: 150px;
  padding: 10px 20px;
  border-radius: 20px;
}

.dialog-container {
  display: flex;
  justify-content: center;align-items: center;
}

dialog[open] {
  opacity: 1;
}
dialog {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left:-200px ;
  margin-top: -200px;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
