* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* BODY */

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 100px;
  display: flex;
  flex-direction: column;
}

.btn-container {
  margin: 0 auto;
  padding: 100px;
}

.btn {
  padding: 12px 24px;
  border-radius: 16px;
  font-size: 24px;
  background-color: black;
  color: white;
}

.book-container {
  border: solid black 2px;
  width: 150px;
  padding: 10px 20px;
  border-radius: 20px;
}

/* DIALOG */

dialog[open] {
  opacity: 1;
  /* z-index: 1; */
}
dialog {
  opacity: 0;
  /* z-index: -; */
  width: 400px;
  height: 400px;
  margin: auto;
  border-radius: 12px;
 
}

.form {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
  padding: 6px;
  margin-top: 16px;

}

.input-container {
  display: flex;
  flex-direction: column;
}


label {
  font-size: 20px;
  font: bolder;
}

input {
  padding: 12px;
  border-radius: 12px;
  border: black solid;
}

.close-btn {
 margin-top: 12px;
}

.status {
  display: flex;
  gap: 20px;
}

